# .env — bot sozlamalari
# BotFather dan olingan token
BOT_TOKEN=8743518365:AAEoy4ulgxbdIsyxrAXVUzQRhqf-yu41mek
# Admin Telegram ID lari (vergul bilan)
ADMIN_IDS=8332810731

# Yuristlar Telegram ID lari (vergul bilan)
LAWYER_IDS=8332810731

# Ma'lumotlar bazasi fayli
DATABASE_URL=tisu_legal.db
